<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Personas</title>
</head>
<body>
    <h1>Sistema de Administacion de Personas</h1>
    <div>
        <p>Total de Personas: {{total_personas}}</p>
    </div>
    <div>
        <table border="1">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Email</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for persona in personas%}
                <tr>
                    <td>{{persona.id}}</td>
                    <td>{{persona.nombre}}</td>
                    <td>{{persona.apellido}}</td>
                    <td>{{persona.email}}</td>
                    <td><a href="/ver/{{persona.id}}">Ver</a></td>
                    <td><a href="/editar/{{persona.id}}">Editar</a></td>
                    <td><a href="/eliminar/{{persona.id}}">Eliminar</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div>
            <a href="{{ url_for('agregar')}}">Agregar Persona</a>
        </div>
    </div>
</body>
</html>