<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle Domicilio</title>
</head>
<body>
    <h1>Detalle Domicilio</h1>
    <div>
        Id Domicilio: {{domicilio.id}}
    </div>
    <div>
        Calle: {{domicilio.calle}}
    </div>
    <div>
        Pais: {{domicilio.pais}}
    </div>
    <div>
        Num Calle: {{domicilio.num_calle}}
    </div>

    <a href="{% url 'domicilios' %}">Regrear al inicio</a>
</body>
</html>